.current_chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_head {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.chat_head h4 {
  padding-left: 15px;
  font-weight: bold;
  font-size: 15px;
  color: #646464;
}
.avatar {
  height: 50px !important;
  width: 50px !important;
  /* font-size: 50px !important; */
}
.active {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
hr {
  height: 5px;
  background-color: #646464;
}
