.chat_list {
  /* position: relative; */
  /* background-color: antiquewhite; */
  display: block;

  height: 65vh;
  overflow-y: scroll;
  /* scrollbar-width: thin; */
}
/* .chat_list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(36, 34, 34);
} */
/* .chat {
  overflow: scroll;
} */
/* .person-list {
  overflow: scroll;
} */
